<h1>Team</h1>

<%= @team_name %>
<%= @team_motto %>
<%= @name_1 %>
<%= @name_2 %>
<%= @name_3 %>
<%= @power_1 %>
<%= @power_2 %>
<%= @power_3 %>
<%= @hero_bio_1 %>
<%= @hero_bio_2 %>
<%= @hero_bio_3 %>